
// * Layout customizations specific to this project should be made in this file.
// * Do not include classes for specific components here. This file should only
// * contain layout overrides to grids, rows, columns, containers, etc.


// General layout

body {
  background-color: $gold;
  margin: 0;

  .full-width-container {
    background-color: $black;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navbar-default {
    background: none;
    border: 0;
    a.navbar-brand {
      color: $white;
    }
  }

  header {
    padding-top: 20px;
  }

  .#{$title} {
    color: $black;
    font-family: $font-default;
    font-size: 100%;
    margin: 20px 0;

    section {
      margin: 0;
    }

    a {
      color: $blue;
    }
  }
}


// Tablet-specific layout
.tablet {

  .#{$title} {


  }

}

// Mobile-specific layout
.mobile {

  .#{$title} {


  }

}
