// General layout overrides
.#{$title} {
  header {
    h1,
    h2,
    p {
      text-align: center;
    }

    .demo {
      text-align: center;
    }
  }
  li {
    .active {
      background-color: $black;
    }
  }


  footer {
    p {
      text-align: center;
    }
  }
}


// Tablet-specific layout overrides

.tablet {
  .#{$title} {

  }
}



// Mobile-specific layout overrides

.mobile {
  .#{$title} {

  }
}
